:root {
  /* Fonts */
  --font-text: Poppins, sans-serif;

  /* Text colors */
  --main-txt-cl: #8f95a5;
  --acent-txt-cl: #263238;
  --btn-txt-cl: #ffffff;
  --dark-txt-cl: #000000;
  --grey-txt-cl: #939393;

  /* BG colors */
  --acent-bg-cl: #263238;
  --white-bg-cl: #ffffff;
  /* Others */
}

body {
  font-family: var(--font-text);
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-txt-cl);
}

/* -------------------------ресет------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1378px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid blue;
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* ----------------------Header-----------------------  */
.page-header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 236px;
  font-size: 36px;
  color: var(--dark-txt-cl);
}

.logo-header-secondary {
  color: var(--grey-txt-cl);
}

.header-link {
  font-weight: 500;
  color: var(--acent-bg-cl);
}

.header-button {
  min-width: 312px;
  padding: 20px 56px;
  margin-left: auto;

  letter-spacing: 0.03em;
  color: var(--dark-txt-cl);

  background-color: transparent;
  border: 2px solid var(--acent-bg-cl);
  border-radius: 10px;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

/* -----------------Block Hero ------------------ */
.hero {
  padding-top: 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}
.hero-group {
  width: 540px;
}

.hero-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: var(--dark-txt-cl);
}

.hero-text {
  margin-bottom: 60px;
  font-size: 24px;
}

.hero-button {
  font-size: 36px;
  letter-spacing: 0.03em;
  padding: 23px 64px;
  min-width: 426px;
  min-height: 100px;
  border-radius: 10px;
  color: var(--btn-txt-cl);
  background-color: var(--acent-bg-cl);
}

/*----------------------- Skills--------------- */

.skills-title {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 48px;
  color: var(--dark-txt-cl);
  text-align: center;
}

.skills-card-list {
  display: flex;
  gap: 30px;
}

.skills-subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  color: var(--acent-txt-cl);
}

.skills-text {
  margin-bottom: 30px;
  font-size: 16px;
}

.skills-text-mb24 {
  margin-bottom: 24px;
}

.skills-button {
  min-width: 230px;
  padding: 16px 64px;
  font-weight: 500;
  font-size: 18px;
  color: var(--btn-txt-cl);
  background-color: var(--acent-bg-cl);
  border-radius: 10px;
}

.skills-card {
  padding: 32px 18px;
  width: 426px;
  background: #f5f5f5;
  border-radius: 10px;
}

.skills-card:last-child {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.skills-inner-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.skills-card-wrapper {
  width: 324px;
}
