:root {
  /* Fonts */
  --font-text: Poppins, sans-serif;

  /* Text colors */
  --main-txt-cl: #8f95a5;
  --acent-txt-cl: #263238;
  --btn-txt-cl: #ffffff;
  --dark-txt-cl: #000000;
  --grey-txt-cl: #939393;

  /* BG colors */
  --acent-bg-cl: #263238;
  --white-bg-cl: #ffffff;
  /* Others */
}

body {
  font-family: var(--font-text);
  font-size: 20px;
  line-height: 1.5;
  color: var(--main-txt-cl);
}

/* -------------------------ресет------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1378px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 1px solid blue; */
}

.section {
  padding-top: 90px;
  padding-bottom: 90px;
}

/* ----------------------Header-----------------------  */
.page-header {
  padding-top: 55px;
  padding-bottom: 55px;
}

.header-container {
  display: flex;
  align-items: center;
}

.logo-header {
  min-width: 130px;
  margin-right: 236px;
  font-size: 36px;
  color: var(--dark-txt-cl);
  animation: spring 4000ms ease-in-out 500ms both;
}

.logo-header-secondary {
  color: var(--grey-txt-cl);
}

@keyframes spring {
  0% {
    opacity: 0;
    letter-spacing: -0.5em;
  }
  30% {
    opacity: 0.8;
    letter-spacing: 0.08em;
  }
  60% {
    opacity: 1;
    letter-spacing: normal;
  }
  80% {
    color: lightblue;
    text-shadow: none;
  }
  100% {
    color: lightblue;
    text-shadow: 5px -5px 4px rgba(0, 0, 0, 0.4);
  }
}

.header-link {
  position: relative;
  font-weight: 500;
  color: var(--acent-bg-cl);
}

/* початковий стаи псевдоелемента*/
.header-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 4px;
  transform: translateY(20px) scaleX(0);
  background-color: var(--acent-bg-cl);

  /*як змінити властивості*/
  transition: transform 400ms ease-out, background-color 400ms ease-out 1000ms;
}

/* кінцевий стаи псевдоелемента*/
.header-link:hover::after {
  transform: translateY(20px) scaleX(1);
  background-color: red;
}

.header-button {
  min-width: 312px;
  padding: 20px 56px;
  margin-left: auto;

  letter-spacing: 0.03em;
  color: var(--dark-txt-cl);

  background-color: transparent;
  border: 2px solid var(--acent-bg-cl);
  border-radius: 10px;
  transition: background-color 400ms ease-out, color 400ms ease-out;
}

.header-button:hover,
.header-button:focus {
  background-color: var(--acent-bg-cl);
  color: var(--btn-txt-cl);
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

/* -----------------Block Hero ------------------ */
.hero {
  padding-top: 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}
.hero-group {
  position: relative;
  width: 540px;
}

.hero-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: var(--dark-txt-cl);
}

.hero-text {
  margin-bottom: 60px;
  font-size: 24px;
}

.hero-button {
  font-size: 36px;
  letter-spacing: 0.03em;
  padding: 23px 64px;
  min-width: 426px;
  min-height: 100px;
  border-radius: 10px;
  color: var(--btn-txt-cl);
  background-color: var(--acent-bg-cl);
}
/* кінцевий стаи елемента */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(107, 9, 56, 0.4);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity 500ms ease, visibility 500ms ease;
}
/* початковий стаи елемента */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* кінцевий стаи елемента */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  /* для кейфрема run */
  /* display: flex;
  align-items: center;
  justify-content: center; */

  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 3px 5px 10px rgba(14, 178, 46, 0.4);

  opacity: 1;

  transition: opacity 500ms ease 200ms, transform 500ms ease 200ms;
}
/* початковий стаи елемента */

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.4);
}

.hero-button-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  display: inline-flex;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;

  /* animation: run 10s linear both; */
}

/* @keyframes run {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translateX(-400px) translateY(-400px);
  }
  50% {
    transform: translateX(-400px) translateY(400px);
  }
  75% {
    transform: translateX(400px) translateY(400px);
  }
  100% {
    transform: translateX(400px) translateY(-400px);
  }
} */

.hero-button-icon {
  fill: blue;
}

/* ----------------Registration Form----------------- */

.form {
  padding: 50px 40px;
}

.form__field {
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.form__field:last-child {
  margin-bottom: 35px;
}

.form__label {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  display: block;
  padding: 0 6px;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: var(--btn-txt-cl);
  transition: transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateX(-40px) translateY(-38px) scale(0.9);
}

.form__input {
  width: 100%;
  height: 50px;

  border: 1px solid var(--acent-bg-cl);
  border-radius: 10px;
  padding: 10px 50px;
}

.form__input::placeholder {
  opacity: 0;
  transition: opacity 400ms ease 100ms;
}

.form__input:focus::placeholder {
  opacity: 1;
}

.form__icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.notification {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.notification__warning {
  fill: rgb(255, 179, 0);
  opacity: 0;
  transition: 400ms;
}

.form__input:not(:placeholder-shown):required:invalid ~ .notification > .notification__warning {
  opacity: 1;
}

.notification__success {
  fill: green;
  opacity: 0;
}

.form__input:not(:placeholder-shown):required:valid ~ .notification > .notification__success {
  opacity: 1;
}

.warning-text {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(110%);
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: rgb(255, 179, 0);
  opacity: 0;

  transition: opacity 400ms ease;
}

.form__input:focus:not(:placeholder-shown):required:invalid ~ .warning-text {
  opacity: 1;
}

.form__button {
  background-color: var(--acent-bg-cl);
  color: var(--btn-txt-cl);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 130px;
  min-height: 60px;
  padding: 10px;
}

/*----------------------- Skills--------------- */

.skills-title {
  margin-bottom: 60px;
  font-weight: 600;
  font-size: 48px;
  color: var(--dark-txt-cl);
  text-align: center;
}

.skills-card-list {
  display: flex;
  gap: 30px;
}

.skills-subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  color: var(--acent-txt-cl);
}

.skills-text {
  margin-bottom: 30px;
  font-size: 16px;
}

.skills-text-mb24 {
  margin-bottom: 24px;
}

.skills-button {
  min-width: 230px;
  padding: 16px 64px;
  font-weight: 500;
  font-size: 18px;
  color: var(--btn-txt-cl);
  background-color: var(--acent-bg-cl);
  border-radius: 10px;
}

.skills-card {
  padding: 32px 18px;
  width: 426px;
  background: #f5f5f5;
  border-radius: 10px;
}

.skills-card:last-child {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.skills-inner-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.skills-card-wrapper {
  width: 324px;
}
